<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tracker Project Notes</title>
    <h2>Project Name</h2>

    <p><code>Tracker</code></p>

    <h2>Description</h2>

    <p>Design your very own CRUD app using Spark. It must support user authentication (login and logout) and creating/reading/updating/deleting entries. You can store any kind of information you want (within the bounds of appropriateness).</p>

    <h2>Requirements</h2>

    <ul>
        <li>Choose something you'd like to "track" in a web app. It could be physical objects (beer, books, etc), but doesn't have to be.</li>
        <li>User authentication

            <ul>
                <li>If not logged in, show a login form at the top (it can double as your create account form, like in the ForumWeb project).</li>
                <li>If logged in, display the username and a logout button at the top.</li>
            </ul>
        </li>
        <li>Create: If logged in, display a form to create a new entry.</li>
        <li>Read: List whatever entries were created by the user(s).</li>
        <li>Update: If logged in, show an edit link next to the entries created by that user. Display the edit form on a new page and use a hidden field to specify which item to edit.</li>
        <li>Delete: If logged in, show a delete button next to the entries created by that user. Clicking it should delete the item and refresh the page. Use a hidden field to specify which item to delete.</li>
        <li>Compile the project as a JAR file and upload it to the "Releases" section of your repo.</li>
        <li>Optional: Add paging to your list of entries.</li>
        <li>Optional: Add CSS (served statically via a <code>public</code> folder).</li>
    </ul>

</head>
<body>

</body>
</html>